@import "_card.scss";
@import "_list.scss";

body {
    background: var(--v-default-base) !important;
}

.v-application {
    background: none !important;
}

.v-toolbar__content, .v-toolbar__extension {
    padding: 0;
}

.v-navigation-drawer {
    &.transparent {
        .v-navigation-drawer__border {
            background: none !important;
        }
    }
}